@import "tailwindcss";

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/CormorantGaramond-VariableFont_wght.ttf")
  format("truetype");
  font-weight: 100 900;

}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf")
  format("truetype");
  font-weight: 300 700;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("/fonts/NotoSansArabic-VariableFont_wdth,wght.ttf")
  format("truetype");
  font-weight: 300 700;

}

@theme inline {
  /* Colors */
  --color-primary:        #2A7FBF;
  --color-secondary:      #E6C364;
  --color-tertiary:       #4AA8E8;
  --color-neutral:        #111920;

  --color-bg:             #0C141B;
  --color-second-bg:      #141C23;
  --color-surface:        #98CBFF;
  --color-border:         #1E2D3A;

  --color-accent:         #003354;
  --color-accent-light:   #4AA8E8;
  --color-highlight:      #C9A84C;

  --color-text:           #C0C7D1;
  --color-muted:          #DBE3ED;
  --color-form:           #182028;
  --color-stroke:         #404750;

  /* Fonts */
  --font-display:         "Playfair Display", serif;
  --font-heading:         "Cormorant", serif;
  --font-body:            "DM Sans", sans-serif;
  --font-arabic:          "Noto Sans Arabic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

[dir="rtl"] body {
  font-family: var(--font-arabic);
}

/* Light theme — ready for toggle */
[data-theme="light"] {
  --color-primary:        #2A7FBF;
  --color-secondary:      #C9A84C;
  --color-tertiary:       #4AA8E8;
  --color-neutral:        #F5F8FB;

  --color-bg:             #F8FBFE;
  --color-second-bg:      #EDF4FA;
  --color-surface:        #FFFFFF;
  --color-border:         #D6E2EE;

  --color-accent:         #003354;
  --color-accent-light:   #2A7FBF;
  --color-highlight:      #E6C364;

  --color-text:           #111920;
  --color-muted:          #5F6B76;
  --color-form:           #FFFFFF;
  --color-stroke:         #C4D0DB;
}